<div>

  <h2 class="mat-headline">Kategorien</h2>

  <div>
    <div fxFlex fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="space-between" fxLayoutGap="1em">
      <div fxFlex.gt-md="50%" fxLayout="column">
          <mat-card style="padding: .75em;" *ngIf="categories && categories.length; else emptyCategories">
            <mat-card-content>
              <mat-list class="categories" cdkDropList (cdkDropListDropped)="drop($event)">
                <mat-list-item class="category" cdkDrag *ngFor="let category of categories">
                  <span mat-line>{{category.name}}</span>
                  <button mat-icon-button (click)="deleteCategory(category)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
          <ng-template #emptyCategories>
            <mat-card>
              <mat-card-content>
                Noch keine Kategorien
              </mat-card-content>
            </mat-card>
          </ng-template>
      </div>
      <div fxFlex.gt-md="50%" fxLayout="column">
        <mat-card>
          <mat-card-content>
            <mat-form-field fxFlexFill class="">
              <mat-label>Name</mat-label>
              <input (keyup.enter)="addCategory()" required minlength="2" autocomplete="off" [(ngModel)]="categoryName" type="text" matInput>
            </mat-form-field>

            <span>
              <button mat-raised-button color="primary" (click)="addCategory()">erstellen</button>
            </span>

          </mat-card-content>
        </mat-card>
      </div>
  
    </div>

  </div>


  <h2 class="mat-headline">Angebot</h2>

  <mat-card>
    <mat-card-content>
      <mat-form-field fxFlexFill class="">
        <mat-label>Name</mat-label>
        <input (keyup.enter)="addProduct()" required minlength="2" autocomplete="off" [(ngModel)]="productName" type="text" matInput>
      </mat-form-field>
      <mat-form-field fxFlexFill class="">
        <mat-label>Beschreibung</mat-label>
        <textarea autocomplete="off" [(ngModel)]="productDesciption" placeholder="z.B. Inhalsstoffe" matInput></textarea>
      </mat-form-field>
      <mat-form-field fxFlexFill class="">
        <mat-label>Bestand</mat-label>
        <input (keyup.enter)="addProduct()" type="number" required autocomplete="off" [(ngModel)]="productStock" matInput>
      </mat-form-field>
      <mat-form-field fxFlexFill class="">
        <mat-label>Preis</mat-label>
        <input class="price-field" (keyup.enter)="addProduct()" currencyMask  [options]="{ prefix: '', suffix: '€', allowNegative: false, thousands: '.', decimal: ',' }" required autocomplete="off" [(ngModel)]="productPrice" matInput>
      </mat-form-field>
      <mat-form-field fxFlexFill>
        <mat-label>Kategorie</mat-label>
        <mat-select [(value)]="productCategory">
          <mat-option  *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <span>
        <button mat-raised-button color="primary" (click)="addProduct()">erstellen</button>
      </span>
    </mat-card-content>
  </mat-card>
  
  
  <div *ngFor="let product of products">
    <mat-card>
      <ng-container *ngIf="!product.edit; else edit">
        <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
          <span>{{product.name}}</span>
          <span fxLayoutAlign="end center"><button (click)="startEdit(product)" mat-icon-button aria-label="Bearbeiten">
            <mat-icon>mode_edit</mat-icon>
          </button></span>
        </mat-card-title>
        <mat-card-content>
          <div *ngIf="product.description && product.description.length"><em>{{product.description}}</em></div>
          <div *ngIf="product.stock">Bestand: {{product.stock}}</div>
          <div *ngIf="product.price">Preis: {{product.price}}€</div>
          <div *ngIf="product.category">Kategorie: {{product.category.name}}</div>
        </mat-card-content>
      </ng-container>
      <ng-template #edit>
        <mat-form-field fxFlexFill class="">
          <mat-label>Name</mat-label>
          <input (keydown.enter)="saveEdit(product)" required minlength="2" autocomplete="off" [(ngModel)]="product.name" type="text" matInput>
        </mat-form-field>
  
        <mat-form-field fxFlexFill class="">
          <mat-label>Beschreibung</mat-label>
          <textarea autocomplete="off" [(ngModel)]="product.description" type="search" placeholder="z.B. Inhalsstoffe" matInput></textarea>
        </mat-form-field>
  
        <mat-form-field fxFlexFill class="">
          <mat-label>Bestand</mat-label>
          <input (keydown.enter)="saveEdit(product)" type="number" required autocomplete="off" [(ngModel)]="product.stock" matInput>
        </mat-form-field>
        
        <mat-form-field fxFlexFill class="">
          <mat-label>Preis</mat-label>
          <input class="price-field" currencyMask  [options]="{ prefix: '', suffix: '€', allowNegative: false, thousands: '.', decimal: ',' }" (keydown.enter)="saveEdit(product)" required autocomplete="off" [(ngModel)]="product.price" matInput>
        </mat-form-field>

        <mat-form-field fxFlexFill>
          <mat-label>Kategorie</mat-label>
          <mat-select [(value)]="product.category" [compareWith]="categoryCompareFkt">
            <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="saveEdit(product)">speichern</button>
          <button mat-raised-button color="secondary" type="cancel" (click)="cancelEdit(product)">abbrechen</button>
        </mat-card-actions>
  
      </ng-template>
      
    </mat-card>
    
  </div>
</div>

