<div>

  <h2 class="mat-headline">Angebot</h2>

  <mat-card>
    <mat-card-content>
      <mat-form-field fxFlexFill class="">
        <mat-label>Name</mat-label>
        <input (keyup.enter)="addProduct()" required minlength="2" autocomplete="off" [(ngModel)]="productName" type="text" matInput>
      </mat-form-field>
      <mat-form-field fxFlexFill class="">
        <mat-label>Beschreibung</mat-label>
        <textarea autocomplete="off" [(ngModel)]="productDesciption" placeholder="z.B. Inhalsstoffe" matInput></textarea>
      </mat-form-field>
      <mat-form-field fxFlexFill class="">
        <mat-label>Bestand</mat-label>
        <input (keyup.enter)="addProduct()" type="number" required autocomplete="off" [(ngModel)]="productStock" matInput>
      </mat-form-field>
      <mat-form-field fxFlexFill class="">
        <mat-label>Preis</mat-label>
        <input class="price-field" (keyup.enter)="addProduct()" currencyMask  [options]="{ prefix: '', suffix: '€', allowNegative: false, thousands: '.', decimal: ',' }" required autocomplete="off" [(ngModel)]="productPrice" matInput>
      </mat-form-field>
      
      <span>
        <button mat-raised-button color="primary" (click)="addProduct()">erstellen</button>
      </span>
    </mat-card-content>
  </mat-card>
  
  
  <div *ngFor="let product of products">
    <mat-card>
      <ng-container *ngIf="!product.edit; else edit">
        <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
          <span>{{product.name}}</span>
          <span fxLayoutAlign="end center"><button (click)="startEdit(product)" mat-icon-button aria-label="Bearbeiten">
            <mat-icon>mode_edit</mat-icon>
          </button></span>
        </mat-card-title>
        <mat-card-content>
          <div *ngIf="product.description && product.description.length"><em>{{product.description}}</em></div>
          <div>Bestand: {{product.stock}}</div>
          <div>Preis: {{product.price}}€</div>
        </mat-card-content>
      </ng-container>
      <ng-template #edit>
        <mat-form-field fxFlexFill class="">
          <mat-label>Name</mat-label>
          <input (keydown.enter)="saveEdit(product)" required minlength="2" autocomplete="off" [(ngModel)]="product.name" type="text" matInput>
        </mat-form-field>
  
        <mat-form-field fxFlexFill class="">
          <mat-label>Beschreibung</mat-label>
          <textarea autocomplete="off" [(ngModel)]="product.description" type="search" placeholder="z.B. Inhalsstoffe" matInput></textarea>
        </mat-form-field>
  
        <mat-form-field fxFlexFill class="">
          <mat-label>Bestand</mat-label>
          <input (keydown.enter)="saveEdit(product)" type="number" required autocomplete="off" [(ngModel)]="product.stock" matInput>
        </mat-form-field>
        
        <mat-form-field fxFlexFill class="">
          <mat-label>Preis</mat-label>
          <input class="price-field" currencyMask  [options]="{ prefix: '', suffix: '€', allowNegative: false, thousands: '.', decimal: ',' }" (keydown.enter)="saveEdit(product)" required autocomplete="off" [(ngModel)]="product.price" matInput>
        </mat-form-field>
  
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="saveEdit(product)">speichern</button>
          <button mat-raised-button color="secondary" type="cancel" (click)="cancelEdit(product)">abbrechen</button>
        </mat-card-actions>
  
      </ng-template>
      
    </mat-card>
    
  </div>
</div>

