@import 'normalize.css/normalize.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './mat-icon-font.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-color: #efefef;
}

.w-100 {
  width: 100%;
}


.admin-qr {
  display: block;
}
.admin-qr img {
  max-width: 100%;
}

.sum {
  border-bottom: 4px double #000
}