<mat-sidenav-container fullscreen>

  <mat-sidenav #navigationSidenav mode="over" role="navigation" (openedStart)="onOpen()" [autoFocus]="false">

    <mat-toolbar>
      <mat-toolbar-row>
        <h2 class="toolbar-title">HZ Order</h2>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>

      <ng-container>

        <a *ngFor="let item of mainRoutes"
          mat-list-item
          (click)="navigationSidenav.close()"
          [routerLink]="[item.path]"
          routerLinkActive="list-item-active">
          <mat-icon *ngIf="item.data.icon" matListIcon class="nav-list-icon">{{item.data.icon}}</mat-icon> {{item.data.title}}
        </a>

      </ng-container>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <hz-header  (toggleSidenav)="navigationSidenav.toggle()"></hz-header>
    <div class="admin-main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>