.mat-card {
  height: 100%;
  margin-bottom: 1em;
}

.order {
  box-shadow: 0 0 0.5em #ccc;
  border-radius: 0.5em;
  background-color: #fff;
  padding: 0.5em;
  margin-bottom: 1em;

  ul {
    padding: 0 1.5em;
    font-size: 1.5em;
  }

  .sum {
    font-size: 2em;
  }

  .order-msg {
    font-size: 1.5em;
    &:last-of-type {
      padding-bottom: 1em;
    }
  }

  ::ng-deep {
    .mat-card {
      margin-bottom: 0;
    }
  }
}

.funnels {
  background-color: rgba($color: #000000, $alpha: .1);
  border-radius: .5em;
  margin-left: -3.5em;
  padding-left: 3.5em;
}

.no-order {
  padding-top: 5em;
  img {
    opacity: 0.5;
    width: 300px;
    max-width: 60%;
  }
}

.order-status {
  margin: 0;
}

.order-code-search input {
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #e1e1e1;
  border-radius: 0.5em;

  &:focus,
  &:active {
    outline: 0 none;
    border: 1px solid #b3b3b3;
  }
}

.in-preparation {
  background-color: gold;
}
.ready {
  background-color: cornflowerblue;
  color: #fff;

  .sum {
    border-color: #fff;
  }
}

.finished {
  background-color: seagreen;
  color: #fff;

  .sum {
    border-color: #fff;
  }
}
.canceled {
  background-color: tomato;

  color: #fff;

  .sum {
    border-color: #fff;
  }
}

.active {
  &.chip-in-preparation {
    background-color: gold !important;
    color: #333 !important;
  }

  &.chip-ready {
    background-color: cornflowerblue !important;
    color: #fff !important;
  }

  &.chip-finished {
    background-color: seagreen !important;
    color: #fff !important;
  }

  &.chip-canceled {
    background-color: tomato !important;
    color: #fff !important;
  }
}

.order-item-price {
  padding: 0 0.5em;
  font-size: 0.5em;
  opacity: 0.75;
}

.category-icon {
  margin-right: 0.5em;
}
