<div fxLayout="row">
  <div fxFlex="grow">
    <h2 class="mat-headline">
      Offene Bestellungen
    </h2>
  </div>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon *ngIf="filter.selectedTable; else isTableNotSelected">filter_alt</mat-icon>
    <ng-template #isTableNotSelected><mat-icon fontSet="material-icons-outlined">filter_alt</mat-icon></ng-template>
    
    {{ filter.selectedTable ? filter.selectedTable.name : 'Alle Tische' }}
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="selectAllTables()"  mat-menu-item>Alle Tische</button>
    <button (click)="selectTable(table)" *ngFor="let table of tables" mat-menu-item>{{table.name}}</button>
  </mat-menu>
  
</div>

<ng-container *ngIf="orders && orders.length; else noOrder">

  <mat-chip-list [multiple]="true" [selectable]="true">
    <mat-chip [ngClass]="{'active': filter.displayedCategories.includes(status)}" class="chip-{{status}}" (click)="toggleStatusSelection(status)" [selected]="filter.displayedCategories.includes(status)" *ngFor="let status of orderStatusArray">
      {{orderService.getTextForOrderStatus(status)}}
    </mat-chip>

    <ng-container *ngIf="settings.seperateOrderPerProductCategory && categories && categories.length">
      <mat-chip (click)="toggleSelectedProductCategories(category)" [selected]="productCategorySelected(category)" *ngFor="let category of categories"><mat-icon>{{category.icon}}</mat-icon></mat-chip>
    </ng-container>

    <mat-chip (click)="selectAll()" [selected]="orderStatusArray.length === filter.displayedCategories.length && (!settings.seperateOrderPerProductCategory || filter.displayedProductCategories.length === categories.length)">Alle</mat-chip>
    <mat-chip (click)="selectNone()" [selected]="!filter.displayedCategories.length && (!settings.seperateOrderPerProductCategory || !filter.displayedProductCategories.length)">Keine</mat-chip>
  </mat-chip-list>

  <br />

  <ng-container>
    <ng-container *ngFor="let order of orders; trackBy: orderTrackByFn; index as i">
      <div class="order" fxLayout="column" fxLayoutGap="10px" fxHide [fxShow]="(!filter.selectedTable || filter.selectedTable.id === order.table.id) && filter.displayedCategories.includes(order.status) && displayOrderByCategory(order) && i < more">
        <div fxLayout="row" fxFlexFill fxLayoutGap="10px">
          <mat-card fxFlex="grow" class="{{order.status}}">
            <mat-card-title fxLayoutAlign="start center">
              <span class="category-icon" *ngIf="settings.seperateOrderPerProductCategory"><mat-icon>{{order.items[0]?.product?.category?.icon}}</mat-icon></span>
              <span>{{order.table.name}} <ng-container *ngIf="settings?.orderCode">- <span class="order-code">{{order.code}}</span></ng-container></span>
              <button mat-icon-button (click)="openMessageDialog(order)"><mat-icon>message</mat-icon></button>
            </mat-card-title>
            <mat-card-content>
              <div fxFlexFill>
                <div fxFlexFill>
                  <div>{{order.comment}}</div>
                  <ul>
                    <li *ngFor="let item of order.items; trackBy: orderItemTrackByFn">{{item.count}}x - {{item.product.name}}</li>
                  </ul>
              
                  <em *ngIf="order.orderMessage && order.orderMessage.length">{{order.orderMessage}}</em>
                  <em *ngIf="order.comment && order.comment.length">{{order.comment}}</em>
                </div>
            
                <div fxLayoutAlign="space-between center" class="order-status">
                  <span class="sum">{{orderService.getSum(order) | currency:'EUR'}}</span>
                  <span>{{orderService.getTextForOrderStatus(order.status)}}</span>
                </div>
              </div>
      
            </mat-card-content>
          </mat-card>
    
          <div fxLayout="column" fxLayoutGap="1em">
            <button fxFlex="100" class="status-button" [disabled]="status === order.status" (click)="changeStatus(order, status)" mat-stroked-button *ngFor="let status of orderStatusArray">
              {{orderService.getTextForOrderStatus(status)}}
            </button>
          </div>
    
        </div>
      </div>
    </ng-container>
  </ng-container>


</ng-container>

<ng-template #noOrder>
  Keine offene Bestellung
</ng-template>