<div>

  <h2 class="mat-headline">
    Kategorien
    <button mat-button (click)="sortCategories = !sortCategories">sortieren</button>
  </h2>

  <div class="categories">
    <div fxFlex fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between" fxLayoutGap="1em">
      <div fxFlex.gt-xs="50%" fxLayout="column">
        <mat-card style="padding: .75em;" *ngIf="categories && categories.length; else emptyCategories">
          <mat-card-content>
            <mat-list class="categories" cdkDropList (cdkDropListDropped)="dropCategory($event)">
              <mat-list-item (click)="editCategory(category)" class="category" cdkDrag [cdkDragDisabled]="sortCategories" *ngFor="let category of categories">
                <span mat-line  fxLayout="row" fxLayoutAlign="start center"><mat-icon *ngIf="category.icon">{{category.icon}}</mat-icon> {{category.name}}</span>
                <button *ngxPermissionsOnly="[allRoles.Admin]" mat-icon-button (click)="deleteCategory(category)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <ng-template #emptyCategories>
          <mat-card>
            <mat-card-content>
              Noch keine Kategorien
            </mat-card-content>
          </mat-card>
        </ng-template>
      </div>
      <div fxFlex.gt-xs="50%" fxLayout="column">
        <mat-card>
          <mat-card-content>
            
            <mat-form-field fxFlexFill>
              <mat-label>Icon</mat-label>
              <mat-select [(ngModel)]="categoryIcon">
                <mat-select-trigger>
                  <span fxFlexFill *ngIf="categoryIcon">
                    <mat-icon>{{categoryIcon}}</mat-icon>
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let icon of icons" [value]="icon.value">
                  <mat-icon>{{icon.value}}</mat-icon>
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlexFill>
              <mat-label>Name</mat-label>
              <input #categoryNameRef="ngModel" (keyup.enter)="addCategory()" required minlength="2" autocomplete="off" [(ngModel)]="categoryName" type="text" matInput>
            </mat-form-field>

            <ng-container *ngIf="settings.seperateOrderPerProductCategory">
              <mat-form-field fxFlexFill>
                <mat-label>Funnels</mat-label>
                <input autocomplete="off" [(ngModel)]="categoryFunnels" type="number" matInput>
                <mat-hint>
                  Ein Funnel ist ein "Abarbeitungskanal". Bestellungen werden je nach Auslastung auf die verschiedenen Funnels aufgeteilt
                </mat-hint>
              </mat-form-field>
              <br />
              <br />
              <br />
            </ng-container>

            <span>
              <button *ngIf="!categoryId" [disabled]="categoryNameRef.invalid" mat-raised-button color="primary" (click)="addCategory()">erstellen</button>
              <button *ngIf="categoryId" [disabled]="categoryNameRef.invalid" mat-raised-button color="primary" (click)="saveEditCategory()">ändern</button>
              <button color="secondary" (click)="cancelCategory()"  mat-raised-button>Abbrechen</button>
            </span>

          </mat-card-content>
        </mat-card>
      </div>
  
    </div>

  </div>

  <br />
  <mat-divider></mat-divider>
  <br />

  <h2 class="mat-headline">Angebot</h2>

  <mat-card>
    <mat-card-content>
      <div *ngIf="newProductForm" [formGroup]="newProductForm">
        <mat-form-field fxFlexFill>
          <mat-label>Name</mat-label>
          <input formControlName="name" (keyup.enter)="addProduct()" required minlength="2" autocomplete="off" type="text" matInput>
        </mat-form-field>
        <mat-form-field fxFlexFill>
          <mat-label>Beschreibung</mat-label>
          <textarea formControlName="description" autocomplete="off" placeholder="z.B. Inhalsstoffe" matInput></textarea>
        </mat-form-field>
        <mat-form-field fxFlexFill>
          <mat-label>Allergene</mat-label>
          <textarea formControlName="allergens" autocomplete="off" placeholder="" matInput></textarea>
        </mat-form-field>
        <mat-form-field fxFlexFill>
          <mat-label>Bestand</mat-label>
          <input formControlName="stock" (keyup.enter)="addProduct()" type="number" required autocomplete="off" matInput>
        </mat-form-field>
        <mat-form-field fxFlexFill>
          <mat-label>Preis</mat-label>
          <input formControlName="price" class="price-field" (keyup.enter)="addProduct()" currencyMask  [options]="{ prefix: '', suffix: '€', allowNegative: false, thousands: '.', decimal: ',' }" required autocomplete="off" matInput>
        </mat-form-field>
        <mat-form-field fxFlexFill>
          <mat-label>Kategorie</mat-label>
          <mat-select required formControlName="category" [(value)]="productCategory">
            <mat-option  *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <span>
          <button [disabled]="newProductForm.invalid" mat-raised-button color="primary" (click)="addProduct()">erstellen</button>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
  <button mat-button (click)="sortProducts = !sortProducts">{{ sortProducts ? 'sortieren' : 'sortieren deaktivieren' }}</button>
  <!-- <button (click)="showTable = !showTable">toggle show table</button> -->
  <ng-container *ngIf="productsByCategory && productsByCategory.length && showTable">
    <ng-container *ngFor="let productByCategory of this.productsByCategory">
      
      <h3 class="mat-headline" *ngIf="productByCategory.producs && productByCategory.producs.length" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon *ngIf="productByCategory.category.icon">{{productByCategory.category.icon}}</mat-icon>
        {{productByCategory.category.name}}
      </h3>
      
      <table
        *ngIf="productByCategory.producs && productByCategory.producs.length"
        mat-table
        #currentTable
        [dataSource]="productByCategory.datasource"
        multiTemplateDataRows
        class="mat-elevation-z2"
        cdkDropList
        [cdkDropListData]="productByCategory.producs"
        (cdkDropListDropped)="dropProduct($event, productByCategory)"
        >
        
        <!-- name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'disabled': element.disabled}"> {{element.name}} </td>
        </ng-container>

        <!-- stock Column -->
        <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef  class="align-center">Bestand</th>
          <td mat-cell *matCellDef="let element" class="align-center"> {{element.stock}} </td>
        </ng-container>

        <!-- price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef  class="align-center">Preis</th>
          <td mat-cell *matCellDef="let element" class="align-center"> {{element.price | currency: 'EUR'}} </td>
        </ng-container>

        <!-- category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Kategorie</th>
          <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
        </ng-container>

        <ng-container matColumnDef="disableProduct">
          <th mat-header-cell *matHeaderCellDef class="icon-column"></th>
          <td mat-cell *matCellDef="let element" class="icon-column">
            <button class="hidden-no-touch" (click)="toggleDisableProduct($event, element)" mat-icon-button color="primary" aria-label="Produkt deaktivieren">
              <mat-icon *ngIf="!element.disabled">block</mat-icon>
              <mat-icon *ngIf="element.disabled">check</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="deleteProduct">
          <th mat-header-cell *matHeaderCellDef class="icon-column"></th>
          <td mat-cell *matCellDef="let element" class="icon-column">
            <button class="hidden-no-touch" *ngxPermissionsOnly="[allRoles.Admin]" (click)="deleteProduct($event, element)" mat-icon-button color="primary" aria-label="Produkt löschen">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="productsTableColumns.length">
            <div class="product-table-element-detail" [@detailExpand]="element.id == expandedElement?.id ? 'expanded' : 'collapsed'">

              <ng-container *ngIf="element.id == expandedElement?.id">
                <div fxFlex fxLayout="column" class="form" *ngIf="editProductForm" [formGroup]="editProductForm">
                  <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input formControlName="name" (keydown.enter)="saveEditProduct()" required minlength="2" autocomplete="off" type="text" matInput>
                  </mat-form-field>
            
                  <mat-form-field>
                    <mat-label>Beschreibung</mat-label>
                    <textarea formControlName="description" autocomplete="off" type="search" placeholder="z.B. Inhalsstoffe" matInput></textarea>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Allergene</mat-label>
                    <textarea formControlName="allergens" autocomplete="off" type="search" placeholder="" matInput></textarea>
                  </mat-form-field>
            
                  <mat-form-field>
                    <mat-label>Bestand</mat-label>
                    <input formControlName="stock" (keydown.enter)="saveEditProduct()" type="number" required autocomplete="off" matInput>
                  </mat-form-field>
                  
                  <mat-form-field>
                    <mat-label>Preis</mat-label>
                    <input formControlName="price" class="price-field" currencyMask  [options]="{ prefix: '', suffix: '€', allowNegative: false, thousands: '.', decimal: ',' }" (keydown.enter)="saveEditProduct()" required autocomplete="off" matInput>
                  </mat-form-field>
          
                  <mat-form-field>
                    <mat-label>Kategorie</mat-label>
                    <mat-select formControlName="category" [compareWith]="categoryCompareFkt">
                      <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            
                  <div class="form-actions">
                    <button mat-raised-button color="primary" (click)="saveEditProduct()">speichern</button>
                    <button mat-raised-button color="secondary" type="cancel" (click)="expandedElement = null">abbrechen</button>
                  </div>
                </div>
              </ng-container>

            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="productsTableColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: productsTableColumns;"
            class="product-table-element-row"
            [class.product-table-expanded-row]="expandedElement?.id === element.id"
            (click)="startEditProduct(element)"
            [cdkDragDisabled]="sortProducts"
            cdkDrag [cdkDragData]="element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="product-table-detail-row"></tr>
      </table>

    </ng-container>
  </ng-container>
  
</div>

