
<ng-container *ngIf="selectedCode">
  <div class="code" (click)="closeCode()">
    <span class="order-code">{{ selectedCode }}</span>
  </div>
</ng-container>

<ng-container *ngIf="table">

  <h1 class="mat-title">{{table.name}}</h1>

  <h3 class="mat-headline">Bestellungen</h3>
  
  <ng-container *ngIf="orders.filter(filterFinished).length; else noOrder">

    <mat-card (click)="openCode(order.code)" *ngFor="let order of orders | callbackFilter: filterFinished" class="{{order.status}}">
      <mat-card-title class="order-code">{{order.code}}</mat-card-title>
      <ul>
        <li *ngFor="let item of order.items">{{item.count}}x - {{item.product.name}}</li>
      </ul>
    
      <em *ngIf="order.orderMessage && order.orderMessage.length">{{order.orderMessage}}</em>
      <em *ngIf="order.comment && order.comment.length">{{order.comment}}</em>
    
      <div fxLayoutAlign="space-between center" class="order-status">
        <span class="sum">{{orderService.getSum(order) | currency:'EUR'}}</span>
        <span>{{orderService.getTextForOrderStatus(order.status)}}</span>
      </div>
      
    </mat-card>
    
    
  </ng-container>
  
  <h1 class="mat-title">Karte</h1>

  <div *ngIf="card && card.length">
    <div *ngFor="let productByCategory of this.card ">
      <h3 class="mat-headline" *ngIf="productByCategory.category.id > -1">{{productByCategory.category.name}}</h3>
      <div *ngFor="let product of productByCategory.producs">
        <mat-card fxLayout="column">
          <span fxLayout="row" fxLayoutAlign="space-between">
            <span  fxLayout="column">
              <span>{{product.name}}</span>
              <strong>{{product.price | currency:'EUR' }}</strong>
            </span>
            <span fxLayoutAlign="end center">
              <button (click)="minus(product)" mat-mini-fab aria-label="">-</button>
              <span class="item-count">{{product.count}}</span>
              <button (click)="plus(product)" mat-mini-fab aria-label="">+</button>
            </span>
          </span>
        </mat-card>
      </div>
    </div>
  </div>
  
  <section>
    <mat-form-field class="comment">
      <mat-label>Bemerkung</mat-label>
      <textarea [(ngModel)]="comment" matInput></textarea>
    </mat-form-field>
  </section>
  
  <div class="order-sum" *ngIf="sum > 0">
    <section fxLayout="row" fxLayoutAlign="start center">
      <strong class="mat-headline sum">{{sum | currency:'EUR' }}</strong>
    </section>
  </div>

  <section>
    <button mat-raised-button color="primary" (click)="sendOrder()">Abschicken</button>
  </section>

</ng-container>


<ng-template #noOrder>
  <div class="no-order" fxLayout="row" fxLayoutAlign="start center">
    <div>Keine Bestellung</div> <mat-icon>sentiment_very_dissatisfied</mat-icon>
  </div>
</ng-template>