:host {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 600px;
  padding: 1em;
}

@media (min-width: 605px) {
  :host {
    padding: 0;
    margin: 50px auto;
  }
}

.mat-card {
  margin-bottom: 1em;
}

.comment {
  width: 100%;
}

.item-count {
  margin: 0 1em;
  font-weight: bold;
}

.order-status {
  font-weight: bold;
}


.in-preparation {
  background-color: yellow;
}
.ready-for-pickup {
  background-color: aqua;
}
.finished {
  background-color: green;
}
.canceled {
  background-color: red;
}

.no-order {
  padding-bottom: 1em;
}

.no-order .mat-icon{
  padding-left: .5em;
}

.order-sum {
  padding: 1em 0;

  strong {
    font-weight: bold;
  }
}

.description {
  font-size: .75em;
  color: rgb(114, 114, 114);
  margin-left: 1em;
}

.code {
  font-size: 5em;
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #fff;

  span {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

.order {
  cursor: pointer;
}

@media (min-width: 450px) {
  .code {
    font-size: 7em;
  }
}